langchain
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain_openai
ipython-genutils
chromadb
sentence_transformers
langchain_huggingface
tqdm
trange
faiss-cpu
huggingface-hub
langchain_chroma